* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
a {
  text-decoration-line: none;
}
.v8_199 {
  width: 100%;
  height: 1024px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_200 {
  width: 100%;
  height: 785px;
  background: rgba(255,253,253,1);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 14px;
  border: 0.5099999904632568px solid rgba(70,76,222,1);
  overflow: hidden;
}
.v8_216 {
  width: 367px;
  height: 68px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 48px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v8_217 {
  width: 322px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 266px;
  left: 93px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.v8_201 {
  width: 100%;
  height: 3px;
  background: url("../images/v8_201.png");
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 4px;
  border: 3px solid rgba(39,109,246,1);
}
.v8_202 {
  width: 252px;
  height: 124px;
  background: url("../images/v8_202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 146px;
  overflow: hidden;
}
.v8_203 {
  width: 86px;
  height: 94px;
  background: url("../images/v8_203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.v8_204 {
  width: 175px;
  color: rgba(39,109,246,1);
  position: absolute;
  top: 0px;
  left: 77px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
.v8_205 {
  width: 579px;
  height: 71px;
  background: url("../images/v8_205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 401px;
  overflow: hidden;
}
.v8_206 {
  width: 579px;
  height: 71px;
  background: rgba(206,212,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(39,109,246,1);
  overflow: hidden;
}
.v8_207 {
  width: 91px;
  height: 71px;
  background: rgba(70,76,222,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 488px;
  border: 2px solid rgba(39,109,246,1);
}
.v8_208 {
  width: 34px;
  height: 34px;
  background: url("../images/v4_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 515px;
  overflow: hidden;
}
.v8_209 {
  width: 34px;
  height: 34px;
  background: url("../images/v4_5.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v8_210 {
  width: 75px;
  height: 75px;
  background: url("../images/v8_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 1024px;
  overflow: hidden;
}
.v8_212 {
  width: 75px;
  height: 75px;
  background: url("../images/v8_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 1114px;
  overflow: hidden;
}
.v11_20 {
  width: 853px;
  height: 68px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 361px;
  left: 285px;
  overflow: hidden;
}
.v11_22 {
  width: 853px;
  height: 359px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 447px;
  left: 285px;
  overflow: hidden;
}
.v11_21 {
  width: 807px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 379px;
  left: 307px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v8_224 {
  width: 853px;
  height: 68px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 284px;
  overflow: hidden;
}
.v8_225 {
  width: 807px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 842px;
  left: 306px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
  resize: none;
  border: none;
}
.v11_23 {
  width: 807px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 462px;
  left: 307px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
  resize: none;
  border: none;
}
.v8_220 {
  width: 396px;
  height: 73px;
  background: rgba(117,189,255,1);
  opacity: 1;
  position: absolute;
  top: 939px;
  left: 520px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v8_221 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 947px;
  left: 678px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
